<div class="container-fluid" id="registration-step">
    <h2 class="h2-responsive text-center p-3">Criteria for Non-Governmental Organization (NGO) Registration</h2>
    <div class="p-3" id="content">
        <p>
            According to the provisions of Societies Registration Act, 1860, minimum seven or more adult persons can
            form a
            Society. For a national level Society eight persons from seven different states would be required as
            promoters.
        </p>
       
    </div>
</div>