<div class="container-fluid p-3" id="about-container">
    <h2 class="h2-responsive text-center p-3 text-dark">About us</h2>
    <hr>
    <div class="row" id="about">
        <div class="col-ls-4 col-md-4 col-sm-12 col-xs-12">
            <div class="view">
                <img src="assets/images/mwcd.jfif" class="zoom" style="width: 100%">
            </div>
        </div>
        <div class="col-ls-8 col-md-8 col-sm-12 col-xs-12">
            <div class="content">
                <h3 class="text-center p-2 h3-responsive"><strong>What do we do?</strong></h3>
                <p class="lead text-justify">
                    The Department of Women and Child Development was set up in the year 1985 as a part of the Ministry
                    of Human Resource Development to address the needs of the women and children in the nation.
                </p>
                <p class="lead text-justify">
                    The mandate of the Ministry is the holistic development of Women and Children.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Vision & Mission</h3>
                </div>
                <div class="card-body">
                    <h4 class="h4-responsive p-2">
                        <li>Vision</li>
                    </h4>
                    <p>
                        Empowered women living with dignity and contributing as equal partners in development in an
                        environment free from violence and discrimination.
                    </p>
                    <h4 class="h4-responsive p-2">
                        <li>Mission</li>
                    </h4>
                    <p>
                        Promoting social and economic empowerment of women through cross-cuting policies and programmes,
                        mainstreaming gender concerns, creating awareness about their rights and facilitating
                        institutional and legislative support for enabling them realize their human rights and develop
                        to their full potential.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Mandate</h3>
                </div>
                <div class="card-body">
                    <p>
                        The broad mandate of the Ministry is to have holistic development of Women and Children. As a
                        nodal Ministry for the advancement of women and children, the Ministry formulates plans,
                        policies and programmes; enacts/ amends legislation, guides and coordinates the efforts of both
                        governmental and non-governmental organisations working in the field of Women and Child
                        Development.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-ls-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="h3-responsive text-center p-2">Policy Initiatives</h3>
                </div>
                <div class="card-body">
                    <p>
                        For the holistic development of the child, the Ministry has been implementing the world's
                        largest and most unique and outreach programme of Integrated Child Development Services (ICDS)
                        providing a package of services comprising supplementary nutrition, immunization, health check
                        up and referral services, pre-school non-formal education.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>