<div class="accordion ngo-step p-3" id="accordionExample">
	<h2 class="h2-responsive text-center p-3">Frequently Asked Questions (FAQ)</h2><hr>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">1. What is Women & Child Development?</h4>
		</div>
		<div class="card-body">
			<p>
				The Ministry of Women and Child Development is responsible for overall development of women and
				children in the country. Detailed information about the child development, women development schemes
				and programmes.
			</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">2. What are the benefits?</h4>
		</div>
		<div class="card-body">
			<p>
				There are various benefits provided by the government for the welfare of women and child
				development. The benefits and various legislations undertaken can be found
			</p>
		</div>
	</div>
	<br>
	<div class="card">
		<div class="card-header">
			<h4 class="h4-responsive p-2">3. What is STEP?</h4>
		</div>
		<div class="card-body">
			<p>
				The Ministry has been administering ‘Support to Training and Employment Programme for Women (STEP)
				Scheme’ since 1986-87 as a ‘Central Sector Scheme’. The STEP Scheme aims to provide skills that give
				employability to women and to provide competencies and skill that enable women to become
				self-employed/entrepreneurs.
			</p>
		</div>
	</div>
</div>