<div class="p-3 ngo-step" id="content">
    <h2 class="h2-responsive text-center p-3">Guidelines under STEP Programme for Women</h2>
    
    <p>
        Women will be given training on various aspects, including group formation, skill
        upgradation management of the primary producer groups and co-operatives, entrepreneurship skills,
        marketing, awareness of their rights and gender concern etc.</p>
     
    <p>
        The implementing agency will issue Photo Identity Card to all beneficiaries for the project and a copy
        of the same will be forwarded to the Ministry for records.
    </p>
</div>