<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>NGO</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
      aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/criteria']" title="Criteria">Criteria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/organizations']" title="Organizations">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/funding-norms']" title="Funding Norms">Funding Norms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/registration']" title="Registration">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ngo/login']" title="Login">Login</a>
        </li>
      </ul>
      <form class="form-inline">

      </form>
    </div>
  </div>
</nav>
<!-- Navbar -->
<h2 class="h2-responsive text-center p-3">Non-Government Organizations (NGO)</h2>
<p class="p-2 text-justify" id="content">
  Non- governmental organizations (NGOs) can be defined as, “legally constituted corporations created by natural or
  legal people that operate independently from any form of government.
</p>
<h4 class="h4-responsive p-2">List of top five NGOs in India</h4>
<p class="p-2 text-justify" id="content">
 <b> 1. SAMMAAN FOUNDATION (established January 25, 2007):</b> Originally established to link the poor to the mainstream
  through education, training and financial support.
</p>
<p class="p-2 text-justify" id="content">
  <b>2. GOONJ:</b> A recipient of the “NGO of the Year” award in 2007 at the India NGO Awards, Goonj also provides relief during Rahat floods in West Bengal, Assam and Bihar.
</p>
<p class="p-2 text-justify" id="content">
  <b>3. AKSHAYA TRUST:</b> The sole aim of this NGO is to restore human dignity. 
</p>
<p class="p-2 text-justify" id="content">
  <b>4. SMILE FOUNDATION:</b> The main aim of this NGO is the rehabilitation of the underprivileged by providing them education
  and healthcare services, thereby converting them into productive assets. 
</p>
<p class="p-2 text-justify" id="content">
  <b>5. UDAAN WELFARE FOUNDATION:</b> The main aim of this NGO is to help the destitute, the main area of stress being women,
  children and senior citizens and also environmental welfare.
</p>